<div [class]="selectedTheme">
  <div class="task">
    <span class="taskName">
      #1: Create a a long polling with Rxjs. Detect when online will start polling, when offline stop polling. (Subscribe change online/offline using rxjs. Write a function called getOnlineStatus(): Observable&lt;boolean&gt;)
    </span>
    <div>
      is user online:
      {{isOnline$ | async}}
    </div>
  </div>
  <div class="task">
    <span class="taskName">
      #2: Detect when user is online and logged in using rxjs. Write a log “User is online and logged in” (online/offline status is used from above test. There is an observable called isUserLoggedIn$ will return value user is online true/false)
    </span>
    <div>
      is user online and logged in:
      {{isUserOnlineAndLoggedIn$ | async}}
    </div>
  </div>
  <div class="task">
    <span class="taskName">
      #3: You have a function getNumber(): Observable&lt;number&gt;, It use a Subject myNumber$ that adds a random number every 500ms. Please write a code to get list of number from that function when there is change each 2s (Please use rxjs)
    </span>
    <div>
      my random number
      {{myNumber$ | async}}
    </div>
  </div>

  <div class="task">
    <span class="taskName">
      #4: Writing a code that get value from one input on change and use that value for a function called searchMessages(keyword: string): Observable&lt;Message[]&gt;
      When we receive data from that function. Please display the messages list in the UI using change detection
    </span>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Search message</mat-label>
        <input matInput placeholder="Search" [(ngModel)]="searchValue" name="search" (keyup)="onSearch()"/>
      </mat-form-field>
      <ul>
        <li *ngFor="let message of messages$ | async">
          {{message.msg}}
        </li>
      </ul>
    </div>
  </div>

  <div class="task">
    <span class="taskName">
      #5: Please provide your approach to setup a multiple themes structure and build the app with multiple themes and allow user to change any theme in the list we provided
    </span>
    <div>
      <mat-form-field>
        <mat-label>Theme</mat-label>
        <mat-select [(value)]="selectedTheme">
          <mat-option *ngFor="let theme of themes" [value]="theme.value">
            {{theme.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="task">
    <span class="taskName">
      #6: Writing a sample code using a state management. That has Conversation and Message models. One Conversation can contain many messages
    </span>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Write id</mat-label>
        <input matInput placeholder="Id" [(ngModel)]="conversationIdStr"/>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Write message</mat-label>
        <input matInput placeholder="Message" [(ngModel)]="msg"/>
      </mat-form-field>

      <button mat-button (click)="addMessage(conversationIdStr, msg)">Add message</button>
      <button mat-button (click)="addConversation()">Add conversation</button>

      <ul>
        <li *ngFor="let conversation of conversations$ | async">
          {{conversation.id}}
          <ul *ngIf="conversation.messages && conversation.messages.length > 0">
            <li *ngFor="let message of conversation.messages">
              {{message.msg}}
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
