@import '~@angular/material/theming';
@include mat-core();

.deepPurpleAmber {
  @include angular-material-theme(mat-light-theme(mat-palette($mat-deep-purple), mat-palette($mat-amber, 500, 900, A100)));
}
.pinkBlueGrey {
  @include angular-material-theme(mat-light-theme(mat-palette($mat-pink), mat-palette($mat-blue-gray, 500, 900, A100)));
}
.purpleGreen {
  @include angular-material-theme(mat-light-theme(mat-palette($mat-purple), mat-palette($mat-green, 500, 900, A100)));
}
.indigoPink {
  @include angular-material-theme(mat-light-theme(mat-palette($mat-indigo), mat-palette($mat-pink, 500, 900, A100)));
}
